<div class="header__mobile js-header-mobile">
    <div class="header__mobile__menu space-y-40">
        <ul class="d-flex space-y-20">
            <li>
                <a href="/" class="active">
                    <p class="links_name">Marketplace</p>
                </a>
            </li>
            <li>
                <a href="{{root}}overview.html">
                    <p class="links_name">Overview</p>
                </a>
            </li>
            <li>
                <a href="{{root}}items.html">
                    <p class="links_name">My items</p>
                </a>
            </li>
            <li>
                <a href="{{root}}activity.html">
                    <p class="links_name">Activity</p>
                </a>
            </li>
            <li>
                <a href="{{root}}auctions.html">
                    <p class="links_name">Auctions</p>
                </a>
            </li>

        </ul>

    </div>
</div>