<div class="row sub_menu_row">

	<div class="col-lg-6 space-y-10">
		<!-- =============== -->
		<li>
			<a href="{{root}}Activity.html">
				<i class="ri-line-chart-line"></i>
				Activity
			</a>
		</li>
		<!-- =============== -->
		<li>
			<a class="is_new" href="{{root}}edit_profile.html">
				<i class="ri-edit-line"></i>
				Edit Profile
			</a>
		</li>

		<!-- =============== -->
		<li>
			<a href="{{root}}Item-details.html">
				<i class="ri-gallery-line"></i>
				Item details
			</a>
		</li>
		<!-- =============== -->
		<li>
			<a class="is_new" href="{{root}}Live_Auctions.html">
				<i class="ri-auction-line"></i>
				Live Auctions
			</a>
		</li>
		<!-- =============== -->
		<li>
			<a href="{{root}}Upcoming_projects.html">
				<i class="ri-upload-line"></i>
				Upcoming projects
			</a>
		</li>
		<!-- =============== -->
		<li>
			<a class="is_new" href="{{root}}ranking.html">
				<i class="ri-funds-line"></i>
				Ranking
			</a>
		</li>

		<!-- =============== -->
		<li>
			<a class="is_new" href="{{root}}newsletter.html">
				<i class="ri-mail-open-line"></i>
				Newsletter
			</a>
		</li>
		<!-- =============== -->
		<li>
			<a href="{{root}}forum.html">
				<i class="ri-discuss-line"></i>
				Forum & community
			</a>
		</li>
		<!-- =============== -->
		<li>
			<a href="{{root}}post_details.html">
				<i class="ri-chat-check-line"></i>
				Forum details
			</a>
		</li>

		<!-- =============== -->
		<li>
			<a href="{{root}}no_results.html">
				<i class="ri-file-search-line"></i>
				No Result
			</a>
		</li>

		<!-- =============== -->
		<li>
			<a class="is_new" href="{{root}}Contact.html">
				<i class="ri-customer-service-2-line"></i>
				Contact
			</a>
		</li>

	</div>







	<div class="col-lg-6 space-y-10">

		<!-- =============== -->
		<li>
			<a href="{{root}}Upload-type.html">
				<i class="ri-upload-line"></i>
				Upload Types
			</a>
		</li>
		<!-- =============== -->
		<li>
			<a href="{{root}}Connect-wallet.html">
				<i class="ri-wallet-3-line"></i>
				Connect wallet
			</a>
		</li>

		<!-- =============== -->
		<li>
			<a href="{{root}}questions.html">
				<i class="ri-question-line"></i>
				FAQ
			</a>
		</li>
		<!-- =============== -->
		<li>
			<a class="is_new" href="{{root}}Submit_request.html">
				<i class="ri-share-forward-line"></i>
				Submit request
			</a>
		</li>
		<!-- =============== -->
		<li>
			<a class="is_new" href="{{root}}Submit_request.html">
				<i class="ri-message-3-line"></i>
				Request chat
			</a>
		</li>
		<!-- =============== -->
		<li>
			<a class="is_new" href="{{root}}blog.html">
				<i class="ri-layout-line"></i>
				Blog
			</a>
		</li>
		<!-- =============== -->
		<li>
			<a class="is_new" href="{{root}}article.html">
				<i class="ri-newspaper-line"></i>
				Article
			</a>
		</li>
		<!-- =============== -->
		<li>
			<a href="{{root}}register.html">
				<i class="ri-lock-line"></i>
				Register
			</a>
		</li>
		<!-- =============== -->
		<li>
			<a href="{{root}}login.html">
				<i class="ri-shield-user-line"></i>
				Login
			</a>
		</li>
		<!-- =============== -->
		<li>
			<a href="{{root}}Privacy.html">
				<i class="ri-file-text-line"></i>
				Privacy Policy
			</a>
		</li>
		<!-- =============== -->
		<li>
			<a c href="{{root}}404.html">
				<i class="ri-file-damage-line"></i>
				404
			</a>
		</li>
	</div>
</div>