.nav-tabs {
    border: none !important;
    .nav-item {
        a {
            &.active {
                background: $color_white;
                color: $color_dark;
                border: solid 1px $color_white;
                &:hover,
                &:focus {
                    color: $color_white !important;
                    background: $color_white !important;
                    border: solid 1px $color_white;
                }
                &.btn-sh {
                    box-shadow: 0 14px 35px -11px $color_white;
                }
                &.btn-outline {
                    border: solid 2px $color_white;
                    background: transparent !important;
                    color: $color_white;
                    &:hover {
                        color: $color_brand !important;
                    }
                }
                &.btn-outline-bottom {
                    border-bottom: solid 3px $color_white;
                    background: transparent !important;
                    color: $color_white;
                }
            }
        }
    }
}