<div class="trending_auctions mt-20 space-x-20">
  <h2 class="section_title">Trending Auctions</h2>
  <div class="row m-0 mb-30_reset">
    {{#each cards.items1}}
    <div class="col-xl-4 col-lg-6 col-md-6">
      <div class="card_item one space-y-10">
        <div class="card_head">
          <img src="../../assets/img/items/item{{img}}.png" alt="nft img" />
        </div>
        <div class="card_body space-y-10">
          <div class="d-flex justify-content-between">
            <h6>
              <a href="#" class="card_title color_white">{{title}}</a>
            </h6>
            <span class="price color_green txt_sm">{{price}}ETH</span>
          </div>
          <div class="d-flex justify-content-between">
            <div class="avatars space-x-5">
              <div class="-space-x-20">
                <a href="#">
                  <img
                    src="../../assets/img/avatars/avatar{{avatar_img1}}.png"
                    alt="Avatar"
                    class="avatar"
                  />
                </a>
                <a href="Profile.html">
                  <img
                    src="../../assets/img/avatars/avatar{{avatar_img2}}.png"
                    alt="Avatar"
                    class="avatar"
                  />
                </a>
              </div>
              <a href="#">
                <p class="avatars_name txt_sm color_black">@{{avatar_name}}</p>
              </a>
            </div>
            <span class="items color_text txt_sm">{{stock}} items</span>
          </div>
          <div class="bid_details">
            <div class="txt_sm">
              <span class="color_text">Min Bid:</span> {{min_bid}} ETH
            </div>
            <div class="status space-x-5">
              <span class="txt_sm color_text">{{status}}</span>
              <img
                class="icon_fire"
                src="../../assets/img/icons/fire.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each }}
  </div>
</div>
