<div class="aside_auction">
  <div class="w-100">
    <div class="auction_card space-y-10">
      <div class="d-flex align-items-center space-x-10">
        <img
          class="icon img-fluid"
          src="../../assets/img/icons/eth2.svg"
          alt=""
        />
        <span class="color_white txt _bold">Eth Rate</span>
      </div>
      <div>
        <span class="items_number">$ 4, 458,122 USD</span>
      </div>
      <div>
        <canvas
          class="chart"
          id="gradient-chart"
          style="height: 270px; width: 100%"
        ></canvas>
      </div>
      <div class="d-flex justify-content-between">
        <span>Purchase</span>
        <span class="color_green">3.220</span>
      </div>
      <div class="d-flex justify-content-between">
        <span>Value</span>
        <span class="color_red">-1.01%</span>
      </div>
      <div class="d-flex justify-content-between">
        <span>Change</span>
        <span class="color_red">-41.96$</span>
      </div>
    </div>
  </div>
  <div class="top_creators">
    <h2 class="section_title">Global Popular</h2>
    <div class="creators_wrap">
      {{#each cards.items3}}
      <div class="card_item three space-x-10">
        <div class="card_head">
          <img src="../../assets/img/avatars/{{img}}.png" alt="creator" />
        </div>
        <div class="card_body">
          <div>
            <a href="#">
              <div
                class="
                  avatars_name
                  color_white
                  d-flex
                  align-items-center
                  space-x-5
                "
              >
                <span>{{avatar_name}}</span>
              </div>
            </a>
          </div>
          <div>
            <div class="text_sm">
              {{sold}} <span class="color_text">ETH</span>
            </div>
          </div>
        </div>
      </div>
      {{/each }}
    </div>
  </div>
</div>
