<div class="aside_marketplace">
  <div class="w-100">
    <h2 class="section_title">Recently Added</h2>
    <div class="recently_added">
      <canvas
        class="chart"
        id="gradient-chart"
        style="height: 270px; width: 100%"
      ></canvas>
    </div>
  </div>
  <div class="top_creators">
    <h2 class="section_title">Global Popular</h2>
    <div class="creators_wrap">
      {{#each cards.items3}}
      <div class="card_item three space-x-10">
        <div class="card_head">
          <img src="../../assets/img/avatars/{{img}}.png" alt="creator" />
        </div>
        <div class="card_body">
          <div>
            <a href="#">
              <div
                class="
                  avatars_name
                  color_white
                  d-flex
                  align-items-center
                  space-x-5
                "
              >
                <span>{{avatar_name}}</span>
              </div>
            </a>
          </div>
          <div>
            <div class="text_sm">
              {{sold}} <span class="color_text">ETH</span>
            </div>
          </div>
        </div>
      </div>
      {{/each }}
    </div>
  </div>
</div>
