<div class="items_table mt-30">
  <table class="table custom_table custom_table2">
    <thead>
      <tr>
        <th scope="col"><span>Name</span></th>
        <th scope="col"><span>Date</span></th>
        <th scope="col"><span>Blockchain</span></th>
        <th scope="col"><span>Token ID</span></th>
        <th scope="col"><span>Price</span></th>
        <th scope="col"><span>Category</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex space-x-10 align-items-center">
            <img
              class="item_img"
              src="../../assets/img/items/item1.png"
              alt=""
            />
            <div>
              <h6>Colorful Abstract</h6>
              <div class="avatars space-x-10">
                <div class="media">
                  <div class="badge">
                    <img src="../../assets/img/icons/badge.svg" alt="badge" />
                  </div>
                  <a href="#">
                    <img
                      src="../../assets/img/avatars/avatar1.png"
                      alt="Avatar"
                      class="avatar avatar-md border-0"
                    />
                  </a>
                </div>
                <div>
                  <a href="Profile.html">
                    <p class="avatars_name color_white">@makinzi_jamy</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </td>

        <td><span class="color_white">Sep 5 , 2022</span></td>
        <td><span class="color_white">Ethereum</span></td>
        <td><span class="color_white">108159412</span></td>
        <td>
          <div class="d-flex space-x-4">
            <img src="../../assets/img/icons/eth.svg" alt="" />
            <span class="color_green">2 ($4,996.88)</span>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center space-x-5">
            <i class="ri-ghost-smile-line color_white"></i>
            <span class="color_white">Memes </span>
          </div>
        </td>
        <td>
          <i class="ri-download-line color_green txt_lg"></i>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex space-x-10 align-items-center">
            <img
              class="item_img"
              src="../../assets/img/items/item1.png"
              alt=""
            />
            <div>
              <h6>Colorful Abstract</h6>
              <div class="avatars space-x-10">
                <div class="media">
                  <div class="badge">
                    <img src="../../assets/img/icons/badge.svg" alt="badge" />
                  </div>
                  <a href="#">
                    <img
                      src="../../assets/img/avatars/avatar1.png"
                      alt="Avatar"
                      class="avatar avatar-md border-0"
                    />
                  </a>
                </div>
                <div>
                  <a href="Profile.html">
                    <p class="avatars_name color_white">@makinzi_jamy</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </td>

        <td><span class="color_white">Sep 5 , 2022</span></td>
        <td><span class="color_white">Ethereum</span></td>
        <td><span class="color_white">108159412</span></td>
        <td>
          <div class="d-flex space-x-4">
            <img src="../../assets/img/icons/eth.svg" alt="" />
            <span class="color_green">2 ($4,996.88)</span>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center space-x-5">
            <i class="ri-ghost-smile-line color_white"></i>
            <span class="color_white">Memes </span>
          </div>
        </td>
        <td>
          <i class="ri-download-line color_green txt_lg"></i>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex space-x-10 align-items-center">
            <img
              class="item_img"
              src="../../assets/img/items/item1.png"
              alt=""
            />
            <div>
              <h6>Colorful Abstract</h6>
              <div class="avatars space-x-10">
                <div class="media">
                  <div class="badge">
                    <img src="../../assets/img/icons/badge.svg" alt="badge" />
                  </div>
                  <a href="#">
                    <img
                      src="../../assets/img/avatars/avatar1.png"
                      alt="Avatar"
                      class="avatar avatar-md border-0"
                    />
                  </a>
                </div>
                <div>
                  <a href="Profile.html">
                    <p class="avatars_name color_white">@makinzi_jamy</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </td>

        <td><span class="color_white">Sep 5 , 2022</span></td>
        <td><span class="color_white">Ethereum</span></td>
        <td><span class="color_white">108159412</span></td>
        <td>
          <div class="d-flex space-x-4">
            <img src="../../assets/img/icons/eth.svg" alt="" />
            <span class="color_green">2 ($4,996.88)</span>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center space-x-5">
            <i class="ri-ghost-smile-line color_white"></i>
            <span class="color_white">Memes </span>
          </div>
        </td>
        <td>
          <i class="ri-download-line color_green txt_lg"></i>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex space-x-10 align-items-center">
            <img
              class="item_img"
              src="../../assets/img/items/item1.png"
              alt=""
            />
            <div>
              <h6>Colorful Abstract</h6>
              <div class="avatars space-x-10">
                <div class="media">
                  <div class="badge">
                    <img src="../../assets/img/icons/badge.svg" alt="badge" />
                  </div>
                  <a href="#">
                    <img
                      src="../../assets/img/avatars/avatar1.png"
                      alt="Avatar"
                      class="avatar avatar-md border-0"
                    />
                  </a>
                </div>
                <div>
                  <a href="Profile.html">
                    <p class="avatars_name color_white">@makinzi_jamy</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </td>

        <td><span class="color_white">Sep 5 , 2022</span></td>
        <td><span class="color_white">Ethereum</span></td>
        <td><span class="color_white">108159412</span></td>
        <td>
          <div class="d-flex space-x-4">
            <img src="../../assets/img/icons/eth.svg" alt="" />
            <span class="color_green">2 ($4,996.88)</span>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center space-x-5">
            <i class="ri-ghost-smile-line color_white"></i>
            <span class="color_white">Memes </span>
          </div>
        </td>
        <td>
          <i class="ri-download-line color_green txt_lg"></i>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex space-x-10 align-items-center">
            <img
              class="item_img"
              src="../../assets/img/items/item1.png"
              alt=""
            />
            <div>
              <h6>Colorful Abstract</h6>
              <div class="avatars space-x-10">
                <div class="media">
                  <div class="badge">
                    <img src="../../assets/img/icons/badge.svg" alt="badge" />
                  </div>
                  <a href="#">
                    <img
                      src="../../assets/img/avatars/avatar1.png"
                      alt="Avatar"
                      class="avatar avatar-md border-0"
                    />
                  </a>
                </div>
                <div>
                  <a href="Profile.html">
                    <p class="avatars_name color_white">@makinzi_jamy</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </td>

        <td><span class="color_white">Sep 5 , 2022</span></td>
        <td><span class="color_white">Ethereum</span></td>
        <td><span class="color_white">108159412</span></td>
        <td>
          <div class="d-flex space-x-4">
            <img src="../../assets/img/icons/eth.svg" alt="" />
            <span class="color_green">2 ($4,996.88)</span>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center space-x-5">
            <i class="ri-ghost-smile-line color_white"></i>
            <span class="color_white">Memes </span>
          </div>
        </td>
        <td>
          <i class="ri-download-line color_green txt_lg"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
