<div class="last_transactions mt-30">
  <h2 class="section_title">last transactions</h2>
  <table class="table custom_table">
    <thead>
      <tr>
        <th scope="col"><span>Type</span></th>
        <th scope="col"><span>Item</span></th>
        <th scope="col"><span>Date</span></th>
        <th scope="col"><span>Blockchain</span></th>
        <th scope="col"><span>Token ID</span></th>
        <th scope="col"><span>Price</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="color_green">sales</span>
        </td>
        <td><span class="color_text">Colorful Abstract </span></td>
        <td><span class="color_text">Sep 5 , 2022</span></td>
        <td><span class="color_text">Ethereum</span></td>
        <td><span class="color_text">108159412</span></td>
        <td>
          <div class="d-flex space-x-4">
            <img src="../../assets/img/icons/eth.svg" alt="" />
            <span class="color_green">456</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span class="color_green">sales</span>
        </td>
        <td><span class="color_text">Colorful Abstract </span></td>
        <td><span class="color_text">Sep 5 , 2022</span></td>
        <td><span class="color_text">Ethereum</span></td>
        <td><span class="color_text">108159412</span></td>
        <td>
          <div class="d-flex space-x-4">
            <img src="../../assets/img/icons/eth.svg" alt="" />
            <span class="color_green">456</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span class="color_green">sales</span>
        </td>
        <td><span class="color_text">Colorful Abstract </span></td>
        <td><span class="color_text">Sep 5 , 2022</span></td>
        <td><span class="color_text">Ethereum</span></td>
        <td><span class="color_text">108159412</span></td>
        <td>
          <div class="d-flex space-x-4">
            <img src="../../assets/img/icons/eth.svg" alt="" />
            <span class="color_green">456</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span class="color_green">sales</span>
        </td>
        <td><span class="color_text">Colorful Abstract </span></td>
        <td><span class="color_text">Sep 5 , 2022</span></td>
        <td><span class="color_text">Ethereum</span></td>
        <td><span class="color_text">108159412</span></td>
        <td>
          <div class="d-flex space-x-4">
            <img src="../../assets/img/icons/eth.svg" alt="" />
            <span class="color_green">456</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
