<div class="last_transactions mt-30">
    <h2 class="section_title">last transactions</h2>
    <table class="table custom_table">
        <thead>
            <tr>
                <th scope="col"><span>Type</span></th>
                <th scope="col"><span>Item</span></th>
                <th scope="col"><span>Date</span></th>
                <th scope="col"><span>Blockchain</span></th>
                <th scope="col"><span>Token ID</span></th>
                <th scope="col"><span>Price</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span class="color_green">Collectibles</span>
                </td>
                <td><span class="color_text">Colorful Abstract </span></td>
                <td><span class="color_text">Sep 5 , 2022</span></td>
                <td><span class="color_text">Ethereum</span></td>
                <td><span class="color_text">158159463</span></td>
                <td>
                    <div class="d-flex space-x-4">
                        <img src="assets/img/icons/eth.svg" alt="" />
                        <span class="color_green">2.83</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="color_green">Artwork</span>
                </td>
                <td><span class="color_text">Spider Eyes Modern Art </span></td>
                <td><span class="color_text">Sep 7 , 2022</span></td>
                <td><span class="color_text">Ethereum</span></td>
                <td><span class="color_text">718159732</span></td>
                <td>
                    <div class="d-flex space-x-4">
                        <img src="assets/img/icons/eth.svg" alt="" />
                        <span class="color_green">5.21</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="color_green">Tickets</span>
                </td>
                <td><span class="color_text">Liquid Forest event </span></td>
                <td><span class="color_text">Sep 8 , 2022</span></td>
                <td><span class="color_text">Ethereum</span></td>
                <td><span class="color_text">228159932</span></td>
                <td>
                    <div class="d-flex space-x-4">
                        <img src="assets/img/icons/eth.svg" alt="" />
                        <span class="color_green">3,06</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="color_green">Music</span>
                </td>
                <td><span class="color_text">Contemporary Abstract </span></td>
                <td><span class="color_text">Sep 11 , 2022</span></td>
                <td><span class="color_text">Ethereum</span></td>
                <td><span class="color_text">108158212</span></td>
                <td>
                    <div class="d-flex space-x-4">
                        <img src="assets/img/icons/eth.svg" alt="" />
                        <span class="color_green">4,56</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>