<div class="main_marketplace">
    <div class="zz">

    </div>
<div>
    <div class="box is_big hero_marketplace space-y-20">
        <h1 class="hero_title">Create your NFT Marketplace</h1>
        <div class="d-flex space-x-10">
            <a href="#" class="btn btn_primary">Upload</a>
            <a href="#" class="btn btn_light">Shudeled</a>
        </div>
    </div>
    <div class="categories mt-20">
        <ul class="items space-x-20">
            <li class="item">
                <div class="wrapper space-x-5">
                    <img class="img-fluid" src="../assets/img/icons/gaming.png" alt="">
                    <span>Gaming</span>
                </div>
            </li>
            <li class="item">
                <div class="wrapper space-x-5">
                    <img class="img-fluid" src="../assets/img/icons/Animation.png" alt="">
                    <span>Animation</span>
                </div>
            </li>
            <li class="item">
                <div class="wrapper space-x-5">
                    <img class="img-fluid" src="../assets/img/icons/Fashion.png" alt="">
                    <span>Fashion</span>
                </div>
            </li>
            <li class="item">
                <div class="wrapper space-x-5">
                    <img class="img-fluid" src="../assets/img/icons/Food.png" alt="">
                    <span>Food</span>
                </div>
            </li>
            <li class="item">
                <div class="wrapper space-x-5">
                    <img class="img-fluid" src="../assets/img/icons/Art.png" alt="">
                    <span>Art</span>
                </div>
            </li>
        </ul>
    </div>
    {{> trending_auctions}}
</div>
    <div>

        {{> right_side}}
    </div>
</div>