<div class="marketplace">
    <div class="w-100">
        <div class="box is_big hero_marketplace space-y-20">
            <h1 class="hero_title">Create your NFT Marketplace</h1>
            <div class="d-flex space-x-10">
                <a href="#" class="btn btn_primary">Upload</a>
                <a href="#" class="btn btn_light">Shudeled</a>
            </div>
        </div>
        <div class="categories mt-20">
            <ul class="items">
                <li class="item">
                    <a href="my-bid.html" class="wrapper space-x-5 text-white">
                        <img class="img-fluid" src="assets/img/icons/gaming.png" alt="" />
                        <span>Gaming</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="wrapper space-x-5 text-white">
                        <img class="img-fluid" src="assets/img/icons/Animation.png" alt="" />
                        <span>Animation</span>
                    </a>
                </li>
                <li class="item">
                    <a href="my-bid.html" class="wrapper space-x-5 text-white">
                        <img class="img-fluid" src="assets/img/icons/Fashion.png" alt="" />
                        <span>Fashion</span>
                    </a>
                </li>
                <li class="item">
                    <a href="my-bid.html" class="wrapper space-x-5 text-white">
                        <img class="img-fluid" src="assets/img/icons/Food.png" alt="" />
                        <span>Food</span>
                    </a>
                </li>
                <li class="item">
                    <a href="my-bid.html" class="wrapper space-x-5 text-white">
                        <img class="img-fluid" src="assets/img/icons/Art.png" alt="" />
                        <span>Art</span>
                    </a>
                </li>
            </ul>
        </div>
        {{> trending_auctions}}
    </div>
    {{> right_side}}
</div>