<div class="my_items">
  <h2 class="section_title">My Items</h2>
  <div class="row mb-20_reset">
    <div class="col-lg-3 col-md-6">
      <div class="card_item five space-x-10">
        <div class="icon">
          <i class="ri-stack-line"></i>
        </div>
        <div class="d-flex flex-column">
          <span class="color_text txt_sm">Total Items</span>
          <span class="items_number">3,456</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card_item five space-x-10">
        <div class="icon">
          <i class="ri-check-double-line"></i>
        </div>
        <div class="d-flex flex-column">
          <span class="color_text txt_sm">Active Items</span>
          <span class="items_number">3,000</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card_item five space-x-10">
        <div class="icon">
          <i class="ri-arrow-go-forward-line"></i>
        </div>
        <div class="d-flex flex-column">
          <span class="color_text txt_sm">In Review</span>
          <span class="items_number">35</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card_item five space-x-10">
        <div class="icon">
          <i class="ri-close-line"></i>
        </div>
        <div class="d-flex flex-column">
          <span class="color_text txt_sm">Rejected</span>
          <span class="items_number">132</span>
        </div>
      </div>
    </div>
  </div>
</div>
