<!-- sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidabar_content">
    <div class="categories">
      <div class="marketplace_pages">
        <h6 class="pages_title">MARKETPLACE</h6>
        <ul class="list_items">
          <li>
            <a href="/" class="active">
              <i class="ri-home-smile-2-line"></i>
              <p class="links_name">Marketplace</p>
            </a>
          </li>
          <li>
            <a href="{{root}}overview.html">
              <i class="ri-compass-3-line"></i>
              <p class="links_name">Overview</p>
            </a>
          </li>
          <li>
            <a href="{{root}}items.html">
              <i class="ri-image-2-line"></i>
              <p class="links_name">My items</p>
            </a>
          </li>
          <li>
            <a href="{{root}}activity.html">
              <i class="ri-pulse-line"></i>
              <p class="links_name">Activity</p>
            </a>
          </li>
          <li>
            <a href="{{root}}auctions.html">
              <i class="ri-line-chart-line"></i>
              <p class="links_name">Auctions</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="account_pages">
        <h6 class="pages_title">ACCOUNT</h6>
        <ul class="list_items">
          <li>
            <a href="{{root}}transactions.html">
              <i class="ri-send-plane-line"></i>
              <p class="links_name">Transactions</p>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ri-briefcase-2-line"></i>
              <p class="links_name">My Portfolio</p>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ri-dvd-line"></i>
              <p class="links_name">My Active Bid</p>
            </a>
          </li>
          <li>
            <a href="wallet.html">
              <i class="ri-wallet-3-line"></i>
              <p class="links_name">Wallets</p>
            </a>
          </li>
          <li>
            <a href="settings.html">
              <i class="ri-settings-3-line"></i>
              <p class="links_name">Settings</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="logout">
      <a href="login.html">
        <i class="ri-logout-box-r-line"></i>
        <p>Logout</p>
      </a>
    </div>
  </div>
</div>
