<!-- sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidabar_content">
        <div class="categories">
            <div class="marketplace_pages">
                <h6 class="pages_title">MARKETPLACE</h6>
                <ul>
                    <li>
                        <a href="#" class="active">
                            <i class="ri-home-smile-2-line"></i>
                            <p>Marketplace</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ri-compass-3-line"></i>
                            <p>Overview</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ri-image-2-line"></i>
                            <p>My items</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ri-pulse-line"></i>
                            <p>Activity</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="account_pages">
                <h6 class="pages_title">ACCOUNT</h6>
                <ul>
                    <li>
                        <a href="#">
                            <i class="ri-send-plane-line"></i>
                            <p>Transactions</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ri-line-chart-line"></i>
                            <p>My Portfolio</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ri-dvd-line"></i>
                            <p>My Active Bid</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ri-wallet-3-line"></i>
                            <p>Wallets</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ri-settings-3-line"></i>
                            <p>Settings</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="logout">
            <a href="#">
                <i class="ri-logout-box-r-line"></i>
                <p>Logout</p>
            </a>
        </div>
    </div>
</div>