<div class="card_item four box_sales">
  <div class="space-y-10">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <span>Total Sales</span>
      </div>
      <div>
        <a href="#" class="color_green txt_sm">View Report</a>
      </div>
    </div>
    <div class="d-flex flex-column space-y-5">
      <div class="d-flex align-items-center space-x-10">
        <span class="sales_number">2,07 ETH</span>
        <div class="statistics up space-x-4">
          <i class="ri-arrow-up-line"></i>
          <span>5,2%</span>
        </div>
      </div>
      <span class="color_text txt_sm">$5365.05</span>
    </div>
    <div class="hr"></div>
    <div class="d-flex justify-content-between">
      <div class="d-flex space-x-4 align-items-center">
        <i class="ri-record-circle-fill txt_xs color_pink"></i>
        <span>Purchase</span>
      </div>
      <span>1,00 ETH</span>
    </div>
    <div class="d-flex justify-content-between">
      <div class="d-flex space-x-4 align-items-center">
        <i class="ri-record-circle-fill txt_xs color_yellow"></i>
        <span>Offer</span>
      </div>

      <span>1,00 ETH</span>
    </div>
    <div class="d-flex justify-content-between">
      <div class="d-flex space-x-4 align-items-center">
        <i class="ri-record-circle-fill txt_xs color_green"></i>
        <span>Auction</span>
      </div>
      <span>0,63 ETH</span>
    </div>
    <div class="hr"></div>
    <a href="#" class="btn btn_primary w-100"
      ><i class="ri-download-2-line mr-5px"></i>Download Report</a
    >
    <div class="color_text d-flex align-items-center space-x-5">
      <i class="ri-time-line"></i>
      <span>Last update 1 hour ago</span>
    </div>
  </div>
</div>
