.marketplace,
.overview {
  position: relative;
}

.section_title {
  margin-bottom: 20px;
}

.section__head {
  margin-bottom: 20px;
}

// Trending auctions
.trending_auctions {
  position: relative;
}
.auction_card {
  .icon {
    width: 16px;
  }
  .items_number {
    font-size: 18px;
    font-weight: bold;
  }
}
// Aside marketplace
.aside_marketplace,
.aside_auction {
  overflow: hidden;
  min-width: 324px;
  margin-left: 15px;
  @include max-lg {
    margin-top: 20px;
    margin-left: 0;
    display: flex;
  }
  @include max-md {
    display: block;
  }
  .recently_added,
  .auction_card {
    background-image: url(../img/bg/gardient_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 20px;
    border: 1px solid $color_border;
    border-radius: 10px;
    @include max-lg {
      width: 100%;
    }
    .card_item {
      margin-bottom: 20px;
      &:nth-child(5) {
        margin-bottom: 0;
      }
    }
    .hr {
      margin-bottom: 20px;
    }
  }
  .top_creators {
    overflow: hidden;
    margin-top: 30px;
    @include max-lg {
      width: 100%;
      margin-top: 0;
      margin-left: 20px;
    }
    @include max-md {
      width: auto;
      margin-left: 0;
      margin-top: 20px;
    }
    .creators_wrap {
      .card_item {
        margin-bottom: 20px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.items_table {
  .item_img {
    width: 6.5rem;
    height: 4.5rem;
    box-shadow: 0 17px 13px 0 rgba(25, 44, 75, 0.0196078431372549);
    border-radius: 10px;

    object-fit: cover;
  }
}
.last_transactions {
  .table-resposive {
    max-width: 700px;
    min-width: 100%;
  }
}
.last_transactions,
.items_table {
  .table-resposive {
    overflow-x: auto;
  }
}
.section_auctions {
  display: flex;
  overflow: hidden;
  position: relative;
  @include max-lg {
    max-width: max-content;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}
