.box {
  padding: 40px 30px;
  border-radius: $border_radius;
  &is_big {
    padding: 50px 40px;
  }
  &.style_one {
    background-image: url(../img/bg/gardient_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  }
  &.style_two {
    background-image: url(../img/bg/gardient_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border: 1px solid $color_border;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-image: linear-gradient($color_secondary, $color_secondary),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.19) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: none;
    padding: 1px;
  }
}
