/*--------------------------------------------------------------
## btn styles
--------------------------------------------------------------*/

input[type="submit"],
.btn,
a.btn input.btn,
a.button,
span.button,
div.button {
  padding: 11px 23px;
  min-height: 20px;
  line-height: 20px;
  @include animate();
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  position: relative;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  will-change: transform, box-shadow;
  &:not(.btn-outline):not(.btn-flat):not(.btn-link) {
    .text {
      color: #fff;
    }
  }

  i {
    vertical-align: middle;
    margin-top: -16px !important;
    position: relative;
    top: -1px;
    font-size: 20px;
    position: relative;
    stroke: 2px;
    min-width: 20px;
    height: 20px;
  }

  &:hover,
  &:focus {
    color: #fff;
    background-color: $color_brand;
    border-color: $color_brand;
    opacity: 0.9;
    outline: none;
    box-shadow: inherit;
    opacity: 0.9;
  }
}

p a.btn {
  &:hover {
    text-decoration: none;
  }
}

/* =====================================================
- - - - - - - - - 1/ Button sizes
======================================================*/

.btn_sm {
  padding: 6px 16px;
  border-radius: 28px;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  width: fit-content;
}

.btn_lg {
  padding: 7px 25px;
  font-size: 19px;
  line-height: 1.7;
}

/* ==================================================+===
- - - - - - - - - 2/ Button variations
=======================================================*/
.btn_primary {
  color: $color_white;
  border: none;
  transition: all 0.4s ease-in-out;
  background: $color_brand;
  position: relative;

  @include before {
    height: 0;
    width: 0;
    border-radius: 100%;
    background: $color_white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.3s $transition_function;
    opacity: 0.3;
  }

  &:hover {
    color: $color_white;
    border: none;
    @include before {
      height: 15rem;
      width: 15rem;
    }
  }
}
.btn_secondary {
  background: $color_secondary;
  color: $color_white;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;

  &:hover,
  &:focus {
    color: $color_white;
    background: $color_secondary;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  }
}
.btn_light {
  background: $color_light;
  color: $color_white;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  &:focus,
  &:hover {
    background: $color_light;
    border: solid 1px transparent;
    color: $color_white;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  }
}
