.card_item {
  // Card one
  &.one {
    margin-bottom: 30px;
    .card_head {
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
    .card_body {
      .card_title {
        font-size: 16px;
      }
      .bid_details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 16px;
        background-image: url(../img/bg/gardient_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        .status {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  // Card two
  &.two {
    display: flex;
    align-items: center;
    .card_body {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  // Card three
  &.three {
    display: flex;
    align-items: center;
    background-image: url(../img/bg/gardient_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 20px;
    border: 1px solid $color_border;
    border-radius: 10px;
    .card_body {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        border-radius: 10px;
        background-color: $color_brand;
        i {
          font-size: 18px;
          font-weight: bold;
          color: white;
        }
      }
      .rank {
        color: $color_text;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  // Card four
  &.four {
    background-image: url(../img/bg/gardient_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 20px;
    border: 1px solid $color_border;
    border-radius: 10px;
    .icon {
      font-weight: bold;
      font-size: 19px;
    }
    .items_number,
    .sales_number {
      font-size: 18px;
      font-weight: bold;
    }
    .statistics {
      display: flex;
      align-items: center;

      padding: 3.5px 8px;
      border-radius: 50px;
      font-size: 14px;
      i {
        font-weight: bold;
      }
      &.up {
        background-color: $color_icon_green;
        color: $color_blue;
      }
      &.down {
        background-color: $color_icon_red;
        color: $color_pink;
      }
    }
  }
}
