.gaming__sidebar {
    height: calc(100vh - 160px);
    min-height: 550px;
    margin-top: 160px;
    width: max-content;
    background-color: white;
    padding: 22.29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border-radius: 0 0 20px 0;
    box-shadow: $shadow_1;
    border: solid 1px $color_stroke;
    border-top: none;
    position: fixed;
    @include lg {
        padding: 20px;
        margin-right: 0;
        flex-direction: row;
        height: auto;
        min-height: auto;
        width: 100%;
    }
    @include tablet_vert_screen {
        position: relative;
        height: auto;
        margin-top: 150px;
    }
    @include sm {
        padding: 20px;
    }
    .content__box {
        @include lg {
            display: flex;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            &:last-of-type {
                margin-bottom: 0;
            }
            @include lg {
                margin-right: 30px;
                margin-bottom: 0;
                &:last-of-type {
                    margin-right: 0;
                }
            }
            @include sm {
                margin-right: 20px;
            }
            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                box-shadow: 0px 10px 11px -2px rgba(219, 116, 255, 0.22);
                @include sm {
                    width: 40px;
                    height: 40px;
                }
                i {
                    color: white;
                    font-size: 18px;
                    font-weight: normal;
                    @include sm {
                        font-size: 18px;
                    }
                }
            }
            &.home {
                .icon {
                    background: $color_grad;
                }
            }
            &.market {
                .icon {
                    background: $color_grad1;
                }
            }
            &.create {
                .icon {
                    background: $color_grad2;
                }
            }
            &.about {
                .icon {
                    background: $color_grad3;
                }
            }
            .page_name {
                color: $color_black;
                font-size: 16px;
            }
        }
    }
    .avatars {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .avatar_sidebar {
            width: 46px;
            height: 46px;
            border: none;
            @include sm {
                width: 40px;
                height: 40px;
            }
        }
        .name {
            color: $color_brand;
            font-size: 16px;
        }
    }
}


.sidebar__filter {
    margin-top: 180px;
    .Applied__Filter {
        width: 100%;
    }
    .Clear__All {
        display: flex;
        justify-content: flex-end;
        &:hover {
            color: $color_dark;
        }
    }
    .alert {
        display: flex;
        align-items: center;

        .close {
            font-size: 22px;
            width: 100%;
            height: 100%;
            padding: 0;
            margin-left: 8px;
            &::before {
                top: 0;
                width: 20px;
                height: 20px;
            }
            &:hover {
                background: transparent;
            }
        }
    }
    .progress {
        background-color: $color_body;
        border-radius: 2px;
        overflow: visible;
        height: 7px;
        .progress-bar {
            overflow: visible;
            position: relative;
            height: 180%;
            align-self: center;
            color: #fff;
            background: $color_grad;
            border-radius: 2px;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -8px;
            width: 16px;
            height: 16px;
            background: $color_grad;
            border-radius: 100%;
            border: 3px solid white;
        }
        }
    }
    .customInput-wrap {
        position: relative;
        .rangeInput {
            width: 100%;
        }
        .outputRange {
            position: absolute;
            top: -20px;
            left: 50%;
        }
    }
    -webkit-slider-thumb:active {
        background-color: red;
    }
    -webkit-slider-thumb,
    .custom-range:focus::-webkit-slider-thumb, 
    .custom-range:focus::-moz-range-thumb,
    .custom-range:focus::-ms-thumb {
        box-shadow: red;
    }
}

.form-range {
    width: 100%;
    height: 1.5rem;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .form-range:focus {
    outline: 0;
  }
  .form-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  .form-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  .form-range::-moz-focus-outer {
    border: 0;
  }
  .form-range::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: -0.25rem;
    background-color: #0d6efd;
    border: 0;
    border-radius: 1rem;
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    appearance: none;
  }
  @media (prefers-reduced-motion: reduce) {
    .form-range::-webkit-slider-thumb {
      -webkit-transition: none;
      transition: none;
    }
  }
  .form-range::-webkit-slider-thumb:active {
    background-color: #003988;
  }
  .form-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: #0080ff;
    border-color: transparent;
    border-radius: 1rem;
  }
  .form-range::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background-color: #ff0000 !important;
    border: 0;
    border-radius: 1rem;
    -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -moz-appearance: none;
    appearance: none;
  }
  @media (prefers-reduced-motion: reduce) {
    .form-range::-moz-range-thumb {
      -moz-transition: none;
      transition: none;
    }
  }
  .form-range::-moz-range-thumb:active {
    background-color: #006aff;
  }
  .form-range::-moz-range-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: #9300a7;
    border-color: transparent;
    border-radius: 1rem;
  }
  .form-range:disabled {
    pointer-events: none;
  }
  .form-range:disabled::-webkit-slider-thumb {
    background-color: #adb5bd;
  }
  .form-range:disabled::-moz-range-thumb {
    background-color: #adb5bd;
  }