.custom_table {
  border-collapse: separate;
  border-spacing: 0 10px;
  thead {
    border: none !important;
    tr {
      border: none !important;
      th {
        border: none !important;
        padding-top: 0;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        &:first-child {
          padding-left: 0;
        }
        span {
          font-weight: bold;
          color: $color_text;
          vertical-align: middle;
        }
      }
    }
  }
  tbody {
    border: none !important;
    tr {
      border: none !important;
      td {
        border: none !important;
        background: $color_secondary;
        padding: 20px 30px;
      }
    }
  }
}
.custom_table2 {
  thead {
    tr {
      th {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;

        white-space: nowrap;
        padding: 10px 20px;
      }
    }
  }
}
table tbody td:first-child {
  border-radius: 15px 0 0 15px;
}

table tbody td:last-child {
  border-radius: 0 15px 15px 0;
}
