// ------------ colors
.color_stroke {
  color: $color_stroke;
}
.color_brand {
  color: $color_brand;
}
.color_secondary {
  color: $color_secondary;
}
.color_text {
  color: $color_text;
}

.color_light {
  color: $color_light;
}

.color_white {
  color: $color_white;
}

.color_green {
  color: $color_green;
}
.color_blue {
  color: $color_blue;
}
.color_dark {
  color: $color_dark;
}
.color_red {
  color: $color_red;
}
// ------------ bg
.bg_brand {
  background-color: $color_brand;
}
.bg_color_secondary {
  background-color: $color_secondary;
}
.bg_light {
  background-color: $color_light;
}
.bg_dark {
  background-color: $color_dark;
}

.bg_white {
  background-color: $color_white !important;
}

.bg_green {
  background-color: $color_green;
}

.bg_red {
  background-color: $color_red;
}

.w-full {
  width: 100%;
}
.hr {
  height: 1px;
  width: 100%;
  background: $color_border2;
}
.nhr {
  margin: 0 !important;
}

// ------------ typography
.txt_hero {
  font-size: 72px;
}
.txt_lg {
  font-size: 20px;
  &._bold {
    font-family: $font-primary;
  }
}
.txt {
  font-size: 17px;
  &._bold {
    font-family: $font-primary;
  }
}
.txt_sm {
  font-size: 15px;
  &._bold {
    font-family: $font-primary;
  }
}
.txt_xs {
  font-size: 13.5px;
  &._bold {
    font-family: $font-primary;
  }
}

.border-b {
  border-bottom: 1px solid $color_stroke;
}

// ------------ margin classes

.m-0 {
  margin: 0;
}
.m-helf {
  margin: 0.5px;
}
.m-100 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.m-30 {
  margin: 30px;
}
.m-40 {
  margin: 40px;
}
.m-50 {
  margin: 50px;
}
.m-60 {
  margin: 60px;
}
.m-70 {
  margin: 70px;
}
.m-80 {
  margin: 80px;
}
.m-90 {
  margin: 90px;
}
.m-100 {
  margin: 10rem;
}

/* ------------------------------------ margin top*/

.mt-0 {
  margin-top: 0 !important;
}
.mt-helf {
  margin-top: 0.5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-100 {
  margin-top: 10rem;
}

/* ------------------------------------ margin bottom*/
.mb-20_reset {
  margin-bottom: -20px !important;
}
.mb-30_reset {
  margin-bottom: -30px !important;
}
.mb-70_reset {
  margin-bottom: -70px !important;
}
.mb-helf {
  margin-bottom: 0.5px;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-20_reset {
  margin-bottom: -20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-90 {
  margin-bottom: 90px;
}
.mb-100 {
  margin-bottom: 10px;
}

/* ------------------------------------ margin right*/

.mr-helf {
  margin-right: 0.5px;
}
.mr-100 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-50 {
  margin-right: 50px;
}
.mr-60 {
  margin-right: 60px;
}
.mr-70 {
  margin-right: 70px;
}
.mr-80 {
  margin-right: 80px;
}
.mr-90 {
  margin-right: 90px;
}
.mr-100 {
  margin-right: 10rem;
}

/* ------------------------------------ margin left*/

.mr-helf {
  margin-right: 0.5px;
}
.ml-100 {
  margin-right: 10px;
}
.ml-20 {
  margin-right: 20px;
}
.ml-30 {
  margin-right: 30px;
}
.ml-40 {
  margin-right: 40px;
}
.ml-50 {
  margin-right: 50px;
}
.ml-60 {
  margin-right: 60px;
}
.ml-70 {
  margin-right: 70px;
}
.ml-80 {
  margin-right: 80px;
}
.ml-90 {
  margin-right: 90px;
}
.ml-100 {
  margin-right: 10rem;
}
.mt-100 {
  @include tablet_vert_screen {
    margin-top: 70px !important;
  }
}
.countdown_item {
  font-family: $font-primary;
  font-size: 25px;
}
.w-fit {
  width: fit-content;
}
