// === Template colors
$color_brand: #7b38ff;
$color_secondary: #10173e;
$color_dark: #060b27;
$color_text: #708299;
$color_light: #ffffff21;
$color_green: #36b37e;
$color_red: #ff6871;
$color_white: #ffffff;
$color_border: rgba(255, 255, 255, 0.29);
$color_stroke: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0.19) 0%,
  rgba(255, 255, 255, 0) 100%
);
$color_grad: linear-gradient(
  rgba(255, 255, 255, 1) 0%,
  rgba(255, 255, 255, 0) 100%
);

// === end
$maxMobile: "(max-width:767px)";
$maxSmall: "(max-width:991px)";
$minSmall: "(min-width:768px)";
$minMedium: "(min-width:992px)";
$minLarge: "(min-width:1200px)";
