<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="title" content="Darity" />
    <meta name="description" content="Premium NFT dashboard theme" />
    <meta
      name="keywords"
      content="bootstrap, creabik, ThemeForest,dashboard, bootstrap5, agency theme, saas
			theme, sass, html5"
    />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="English" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ global.theme }} {{pages_title}}</title>
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- 🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈 STYLES -->
    <link rel="icon" type="image/png" href="{{root}}assets/img/favicon.png" />
    <link rel="stylesheet" href="{{root}}assets/css/plugins/remixicon.css" />
    <link
      rel="stylesheet"
      href="{{root}}assets/css/plugins/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{{root}}assets/css/style.css" />
  </head>

  <body class="body">
    <div class="overflow-hidden">{{> body}}</div>
    <!-- 🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈 SCRIPTS -->
    <script src="{{root}}assets/js/jquery-3.6.0.js"></script>
    <script src="{{root}}assets/js/bootstrap.bundle.min.js"></script>
    <script src="{{root}}assets/js/sticky-sidebar.js"></script>
    <script src="{{root}}assets/js/jquery.sparkline.min.js"></script>
    <script src="{{root}}assets/js/sparkline.js"></script>
    <script src="{{root}}assets/js/chart.js"></script>
    <script src="{{root}}assets/js/script.js"></script>
  </body>
</html>
